{% if page.meta.comments %}
  <h2 id="__comments">{{ lang.t("meta.comments") }}</h2>
  
  <script src="https://giscus.app/client.js"
        data-repo="wangzh12023/life-log"
        data-repo-id="R_kgDOQuWoUQ"
        data-category="Announcements"
        data-category-id="DIC_kwDOQuWoUc4C0NMC"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="preferred_color_scheme"
        data-lang="zh-CN"
        crossorigin="anonymous"
        async>
  </script>
  <script>
    var giscus = document.querySelector("script[src*=giscus]")

    // 初始化时设置主题
    var palette = __md_get("__palette")
    if (palette && typeof palette.color === "object") {
      var theme = palette.color.scheme === "slate" ? "transparent_dark" : "light"
      giscus.setAttribute("data-theme", theme) 
    }

    // 监听主题切换事件
    document.addEventListener("DOMContentLoaded", function() {
      var ref = document.querySelector("[data-md-component=palette]")
      ref.addEventListener("change", function() {
        var palette = __md_get("__palette")
        if (palette && typeof palette.color === "object") {
          var theme = palette.color.scheme === "slate" ? "transparent_dark" : "light"

          var frame = document.querySelector(".giscus-frame")
          if (frame) {
            frame.contentWindow.postMessage(
              { giscus: { setConfig: { theme } } },
              "https://giscus.app"
            )
          }
        }
      })
    })
  </script>
{% endif %}